.about {
    margin-bottom: 139px;
    &__item {
        display: flex;
        gap: 108px;
    }

    &__item:not(:last-child) {
        margin-bottom: 77px;
    }

    &__item:last-child {
        padding-left: 47px;
    }

    &__title {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 0px;
        margin-bottom: 85px;
    }

    &__subtitle {
        line-height: 24px;
        letter-spacing: 0px;
        margin-bottom: 58px;
    }

    &__img {
        height: 354px;
        object-fit: cover;
    }
}

@media (max-width: 992px) {
    .about {
        &__item {
            flex-direction: column;
            gap: 50px;
        }

        &__item:last-child {
            padding-left: 0;
            flex-direction: column-reverse;
        }

        &__title {
            margin-bottom: 45px;
        }

        &__subtitle {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 767px) {
    .about {
        margin-bottom: 50px;
    }
}