.benefits {
    margin-bottom: 131px;
    &__wrapper {
        background: #fff;
        box-shadow: 0px 2px 20px 0px #15182429;
        padding: 93px 100px 0 100px;
        margin-top: -223px;
    }

    &__title {
        color: rgb(16, 39, 70);
        font-size: 35px;
        line-height: 42px;
        margin-bottom: 120px;
    }

    &__items {
        display: flex;
        gap: 55px;
    }
}

.benefit {
    display: flex;
    flex-direction: column;
    padding-bottom: 112px;
    &__logo {
        margin-bottom: 37px;
    }

    &__title {
        margin-bottom: 26px;
        font-size: 18px;
    }

    &__subtitle {
        margin-bottom: 39px;
        max-width: 300px;
    }

    &__link:hover, &__link:active, &__link:focus {
        background-position: right center;
    }

}

.link {
    color: rgb(0, 109, 254);
    background: url(../images/Shape.svg) no-repeat 95% center;
    padding-right: 59px;
    transition: all .2s;
}

@media (max-width: 992px) {
    .benefits {
        &__wrapper {
            margin-top: -180px;
            padding: 93px 20px 0 20px;
        }

        &__title {
            font-size: 25px;
        }

        &__items {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

@media (max-width: 767px) {
    .benefits {
        margin-bottom: 40px;
        &__wrapper {
            padding-top: 40px;
        }
        &__title {
            margin-bottom: 50px;
        }
    }
    .benefit {
        width: 100%;
        align-items: center;
        padding-bottom: 50px;

        &__subtitle {
            text-align: center;
        }
    }
}
